* {
  box-sizing: border-box;
  font-family: "Comic Sans MS";
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #2c3e50;
}

img {
  width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.content {
  /* グレーの線 */
  /* パディング */
}

/*===========================
header
=============================*/
.header {
  color: #fff;
  background: #ce5230;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
  /* main作った後にposition:fixed */
}

.header-left {
  padding-left: 20px;
}
.header-left-title {
  font-family: "Comic Sans MS";
  font-size: 16px;
  font-weight: 500;
}

.header-right {
  padding-right: 20px;
}
.header-nav-items {
  display: flex;
  /* flexの時はgap使える、flex時のみ */
  gap: 20px;
}

/*===========================
main
=============================*/
.main {
  background: #ce5230;
  
}

/*===========================
main-image
=============================*/
.main-img {
  padding-top: 30px;
  width: 70%;
  height: auto;
}

.main-image p{
  text-align: center;
  color: #fff;
}
/*===========================
about-me
=============================*/
.about-me-left {
  padding: 50px;
  width: 400px;
  height: 400px;
}

/*===========================
introduction
=============================*/

/*===========================
career
=============================*/

/*===========================
footer
=============================*/
.footer {
  color: #fff;
  background: #ce5230;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer-right {
  margin-right: 40px;
}
